<%- include("header"); %> 
  <header>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>
  </header>

  <main>
    <!-- the list that is already there  -->
    <div class="box">
      <!-- looping over the items array to put the items in list-->
      <% for(let i = 0; i<newListItems.length; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i]%></p>
      </div>
      <% } %>
      <!-- input new item to list -->
      <form action="/" method="post" class="item">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
    </div>
  </main>
  <%- include("footer"); %> 